.card-anime{
    margin-bottom: 30px;
    margin-left: 40px;
    -webkit-border-radius: 0px;
    background-color: black;
}

.badge-active{
    position: absolute;
    top: 7px;
    left: 7px;
}

.card-img-top{
    width: 100%;
    height: 50%;
    object-fit: cover;
    max-height: 145px;
}