h1{
    margin-top: 10%;
    width: 100%;
    font-size: 50px;
    text-align: center;
}
h3{
    width: 100%;
    text-align: center;
}
p{
    width: 100%;
    text-align: center;
}
img{
    width: 100%;
}