<div>
  <nav class="navbar navbar-light bg-light border-bottom box-shadow mb-3">
    <div class="container flex-column flex-md-row">
      <div class="d-sm-inline-flex">
        <a class="navbar-brand" [routerLink]="['/']">OtakuList</a>
        <ul class="navbar-nav flex-grow" *ngFor="let item of menu">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]=item.route>{{item.title}}</a>
          </li>
        </ul>
      </div>
      <div class="flex-row ml-md-auto d-none d-md-flex">
        <form class="form-inline my-2 my-lg-0" [formGroup]="formNav">
          <input class="form-control mr-sm-2 input-search" type="search" placeholder="Escriba el anime que desea buscar" aria-label="Search" formControlName="name">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="button" (click)="findByName()">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
</div>