<div>
  <div class="header-page d-flex mb-5 mt-4">
    <breadcrumb [titleParam]="title"></breadcrumb>
    <button class="btn btn-primary ml-md-auto" (click)="create()">Agregar Anime</button>
  </div>
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Anime</th>
        <th scope="col">Fecha inicio</th>
        <th scope="col">Fecha final</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody *ngFor="let anime of animeList">
      <tr>
        <td>{{anime.title | uppercase}}</td>
        <td>{{anime.startYear}}</td>
        <td>{{anime.endYear}}</td>
        <td>
          <button class="btn btn-outline-primary" (click)="edit(anime.id)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>