/* You can add global styles to this file, and also import other style files */
html{
    height: 100%;
    width: 100%;
    background-color: black;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #8064A2;
    border-color: #8064A2;
}

.btn-outline-primary:hover{
    background-color: #8064A2;
    border-color: #8064A2;
}

.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary:visited{
    background-color: #8064A2;
    border-color: #8064A2;
    color: white;
}

.btn-outline-primary {
    color: #8064A2;
    border-color: #8064A2;
}
