<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-body">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="title">
        <h2 class="text-center">Registrarse</h2>
      </div>
      <div class="separator"></div>
      <div class="body">
        <form [formGroup]="formUserCreate" class="login-form ml-5 mr-5" (ngSubmit)="createUser()">
          <div class="row mb-4">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="name">
              <mat-error *ngIf="formUserCreate.controls.name.errors?.minlength">
                Ingrese un Nombre de mas de 3 caracteres
              </mat-error>
              <mat-error *ngIf="formUserCreate.controls.name.errors?.maxlength">
                Ingrese un Nombre de menos de 15 caracteres
              </mat-error>
              <mat-error *ngIf="formUserCreate.controls.name.errors?.required">
                El campo Nombre es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row mb-4">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Usuario</mat-label>
              <input matInput formControlName="user">
              <mat-error *ngIf="formUserCreate.controls.user.errors?.minlength">
                Ingrese un Usuario de mas de 3 caracteres
              </mat-error>
              <mat-error *ngIf="formUserCreate.controls.user.errors?.maxlength">
                Ingrese un Usuario de menos de 15 caracteres
              </mat-error>
              <mat-error *ngIf="formUserCreate.controls.user.errors?.required">
                El campo Usuario es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row mb-4">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input matInput formControlName="password" type="password">
              <mat-error *ngIf="formUserCreate.controls.password.errors?.minlength">
                Ingrese una contraseña de mas de 3 caracteres
              </mat-error>
              <mat-error *ngIf="formUserCreate.controls.password.errors?.maxlength">
                Ingrese una contraseña de menos de 15 caracteres
              </mat-error>
              <mat-error *ngIf="formUserCreate.controls.password.errors?.required">
                El campo contraseña es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row justify-content-center" *ngIf="error$ | async as error">
            <ngb-alert type="danger" [dismissible]="false">{{ error.message }}</ngb-alert>
          </div>
          <div class="row justify-content-center">
            <button type="submit" [disabled]="!formUserCreate.valid" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
      
    </div>
  </ng-template>
  
  <button class="btn btn-primary" (click)="open(content)">Registrarse</button>